@using PhatHanhSach.Models
@model PHIEUNHAP
@{
    ViewBag.Title = "XemChitiet";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    List<CT_PHIEUNHAP> list = ViewBag.DS_CTPhieuNhap as List<CT_PHIEUNHAP>;
}

<div class="form-group col-md-12">
    <div class="col-md-2" style="text-align: center">
        <label class="control-label">Nhà xuất bản</label>
    </div>
    <div class="col-md-4">
        @*@Html.DropDownListFor(m => m.MaDL, ViewBag.DS_DaiLy as SelectList, new { @class = "form-control" })*@
        <input type="text" value="@Model.NHAXUATBAN.Ten" class="form-control" disabled="disabled"/>
    </div>
</div>

<div class="form-group col-md-12">
    <div class="col-md-2" style="text-align: center">
        <label class="control-label">Ngày nhập</label>
    </div>
    <div class="col-md-4">
        <input type="text" value="@Model.NgayNhap" class="form-control" disabled="disabled" />
    </div>
</div>

<div style="clear:both">
    <br />
</div>

<table class="table table-bordered text-center">
    <tr>
        <th>Mã Sách</th>
        <th>Tên Sách</th>
        <th>Giá nhập</th>
        <th>Số Lượng</th>
        <th>Thành Tiền</th>
    </tr>
    @foreach (CT_PHIEUNHAP s in ViewBag.DS_CTPhieuNhap as IEnumerable<CT_PHIEUNHAP>)
    {
        <tr>
            <td>@s.MaSach</td>
            <td>@s.SACH.TenSach</td>
            <td>@s.DonGia.Value.ToString("#,##")</td>
            <td>@s.SLNhap</td>
            <td>@s.ThanhTien.Value.ToString("#,##")</td>
        </tr>
    }
</table>
<h2 style="float: right">Tổng tiền: @Model.TongTien.Value.ToString("#,##") VNĐ</h2>
<div style="clear: both">
    @Html.ActionLink("Back to List", "Index")
</div>

<style>
    table {
        width: 100%;
        border: 1px 1px solid;
        font-size: 20px;
    }

        table img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 130px;
            height: 200px;
        }

        table th {
            text-align: center;
        }
</style>

